.hero-profile-box {
    border-radius: 2px solid #97989F;
    margin-top: -13.13rem;
    z-index: 10;
    margin-left: 6rem;
    width: 498px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px){
	.hero-profile-box {
        border-radius: 2px solid #97989F;
        width: 398px;
        margin-top: -7.7rem;
        margin-left: 3rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
}

@media only screen and (max-width: 500px){
	.hero-profile-box {
        border-radius: 2px solid #97989F;
        width: 320px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        margin-top: -4.7rem;
        margin-left: 1rem;
    }

    .profile-text{
        font-size: 16px;
    }

    .profile-description{
        font-size: 12px;
    }
}

.profile-description {
    padding-left: 16px;
    padding-top: 10px;
    color: #97989F;
}